* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


body {
    font-family: "Noto Sans", "Verdana", "Gill Sans", Aral, sans-serif;
    color: #000;

    ul li{
        list-style-type: none;
        padding: 10px;

        a{
            text-decoration: none;
            padding: 10px;
            cursor: pointer;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p{
            line-height: 2em;
        }
    }
}

    h1, h2, h3, h4, h5, h6 {
        padding: 1rem;
        font-family: 'Rock Salt';
    }

    h2 {
        font-size: 2em;
    }

    h3{
        font-size: 1.5em;
    }

}


@media only screen and (min-width: 900px) {
    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    
    .content_container .text_container_one p, p, .input_container label, .input_container input, .input_container textarea, a {
        font-size: 1.2em!important;
    }

    

}