footer {
    background: linear-gradient(#c9c8c842, #a9a8a8e0), url(http://127.0.0.1:3000/resources/img/indoor_elliot-black-garcia-BKJJxTpCtfQ-unsplash.jpg) 70% 61%;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end; 
    padding: 2em 0;
    
    nav{
        display: inherit;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        a {
            color: #000;
        }
    
        .logo_container{ 
            img {
                width: 6em;
                height: auto;
                clip-path: circle(50px at center);

                &:hover {
                    transition: filter 1s;
                    background: none!important;
                    filter: blur(2px) grayscale(100%);
                }
            }
        }


        .burger_div {
            display: none;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;

                .social-media {
                    &:hover {
                        transition: background 0.5s, filter 0.5s, padding 1.5s;
                        filter: invert(1);
                        background: #fff;
                        padding: 5px;
                    }
                }

                .hover {
                    &:hover {
                        transition: background 0.5s, color 1s;
                        background: #ca8551;
                        color: #fff;
                    }
                }

                img {
                    width: 2em;
                }
            }
        
    }
} 



@media only screen and (max-width: 600px) {
    footer nav {

        justify-content: center;
        gap: 2em;

        .burger_div {
            display: block;
            background: #d6c8bb;
        }

        ul {
            display: none;
        }
    }
}