header {
    min-height: 600px;
    z-index: 100000;
    position: relative;

    #header_div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;

        #logo_container {
            h1{
                text-align: center;
                height: 3em;
                display: none;
            }
                        
            a img{
                width: 100px;
                height: auto;
                clip-path: circle(50px at center);
                            
                &:hover {
                    transition: filter 1s;
                    filter: blur(2px) grayscale(100%);
                }
            }
        }        

        nav {
            #burger_div {
                display: none;
                background: #d6c8bb;
                width: 6em;
                clip-path: circle(30px at center);

                #burger_menu {
                    width: 2em;
                    height: auto;
                    margin-right: 2em;
                }
            }
                    
            ul {
                display: flex;
                flex-direction: row;
                background: rgba(234, 221, 212, 0.9);
                padding: 0;
                    
                li{
                    a{  
                        color: #000;
                        font-weight: bold;
                        
                        a:hover{
                                transition: background 2s, color 0.5s;
                                background: #000;
                                color: rgba(234, 221, 212, 0.9);
                        }
                    }                  
                }
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    header #header_div {
        nav {        
            #burger_div {
                display: block;

                ul {
                    display: none;
                }
            }
        }
    }
}


@media only screen and (min-width: 1600px) {
    header #header_text p {
        font-size: 1.5em!important;
    }
}