header {
    background: url("../resources/img/indoor_ruben-ramirez-xhKG01FN2uk-unsplash.jpg") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #header_div{
    display: flex;
    justify-content: space-between;
    align-items: center;

                h1{
                    text-align: center;
                    height: 3em;

                    a img{
                        width: 100px;
                        height: auto;
                        clip-path: circle(50px at center);
                    }
                }
                ul {
                    display: flex;
                    flex-direction: row;
                    background: rgba(234, 221, 212, 0.9);
                    padding: 0;
                
                    li{
                        
                        a{  
                            color: #000;
                            font-weight: bold;
                        }
                        a:hover{/*?*/
                            background: #e8b812;
                            color: #000;
                        }

                    }
                }       
    }    
    #header_text{
        background:rgba(234, 221, 212, 0.8);
        display: flex;
        flex-direction: column;
        width: 30%;
        padding:  0 1.5em 1.5em;
        margin: 3em;

        h2{
            text-align: left;
            padding-left: 0;
        }
    }
}